<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>
<main>
  <%- include partials/group_cards.ejs %>
<!--diseño de paginas web | desarrollo de aplicaciones web | desarrollo de aplicaciones de escritorio | administrador de bases de datos-->
</main>  
  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>